[submodule "pico-sdk"]
    path = lab02-testing/lib/pico-sdk
    url = git@github.com:raspberrypi/pico-sdk.git
    shallow = true
    branch = 2.0.0
    ignore = dirty
[submodule "freertos"]
    path = lab02-testing/lib/freertos
    url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
    shallow = true
    branch = V11.1.0
    ignore = dirty
[submodule "lab02-testing/Unity"]
	path = lab02-testing/lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "lab02-testing/lib/unity"]
	path = lab02-testing/lib/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
